.navbar {
  background-color: #001a33 !important;
  display: flex;
}
.navbar-brand span {
  color: #6195ff;
}
.navbar-expand-lg .navbar-collapse {
  justify-content: end !important;
}
.navbar-light .navbar-toggler {
  color: #fff;
}
.nav-link {
  color: rgba(255, 255, 255, 0.9) !important;
}
.nav-link:hover {
  color: rgba(255, 255, 255, 0.5) !important;
}

#login-button {
  color: #fff !important;
  background-color: #6195ff;
  border: none;
  display: inline-block;
  position: absolute;
  bottom: 10px;
  border-radius: 10px;
  opacity: 0.6;
  transition: 0.3s;
}
#login-button:hover {
  opacity: 1;
}
